code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif !important;
  overflow-x: hidden;
  background: var(--background-color);
}

body {
  margin: 0;
  font-size: 1.6rem !important;
  background: var(--background-color) !important;
  line-height: 2.4rem;
}

button {
  font-family: "Noto Sans", sans-serif !important;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr:not([size]) {
  height: 0;
}

body > iframe {
  display: none !important;
}

strong {
  font-weight: bold;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--background-color); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--border-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--primary-color); /* creates padding around scroll thumb */
}

body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--border-color) var(--primary-color); /* scroll thumb and track */
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) var(--primary-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 10px;
  border: 3px solid transparent;
  -webkit-border-radius: 10px;
}

.fill-current {
  fill: currentColor;
}