.base-table {
  overflow: hidden;
  border-radius: 6px;

    .ant-table {
      border-radius: 6px;
      overflow: auto;
      display: grid;
      grid-template-columns: 1fr;

      .ant-table-title {
        padding: 12px;
      }

      .ant-table-container {
        border: 1px solid #dbdbdb;

        .ant-table-thead {
          .ant-table-cell {
            font-weight: 700;
          }
        }
      }
      
        .ant-table-tbody {
          .ant-table-placeholder {
            z-index: 0 !important;
          }
          .ant-typography {
            color: #21cf3c;
          }
          
        }
      }
}
