// .modal-create-apppush {
//     .ant-modal {
//       width: 800px !important;
  
//       @media screen and (max-width: 991px) {
//         width: auto !important;
//       }
//     }
//     .ant-modal-body {
//       padding: 20px 20px 0 20px !important;
  
//       .btn-add-param {
//         border: 1px dashed #21cf3c;
//         color: #21cf3c;
//         font-size: 16px;
//         height: unset;
//         padding: 6px 16px;
//       }
  
//       .ant-select {
//         .ant-select-open {
//           border: none;
//         }
//         .ant-select-selector {
//           box-shadow: unset;
//           height: fit-content;
//         }
//       }
//     }
  
//     .input-params {
//       padding: 0 10px !important;
//       border-radius: 10px !important;
//       border: 1px dashed #d9d9d9 !important;
//       font-size: 15px !important;
//     }
  
//     .dynamic-delete-button {
//       position: absolute;
//       top: -28px;
//       right: 0;
//       bottom: 0;
//       height: fit-content;
//     }
//   }
  