.report-upload {
    display: flex;
    justify-content: space-between;
  
    .report-upload__form {
      flex-basis: calc(50% - 4px);
    }
    .zfiwudeytj {
      flex-basis: calc(50% - 4px);
    }
  }
  